<md-card>
    <md-card-content>
        <md-input-container>
            <label>Usuario</label>
            <input ng-model="$ctrl.usuario">
        </md-input-container>

        <md-checkbox ng-model="ctrl.disableParentScroll">Disable Parent Scroll</md-checkbox> 

        <div class="demo-md-panel-content">
            <md-button class="md-primary md-raised demo-menu-open-button">
                Ingresar
            </md-button>
            <md-button ng-href="#!" class="md-primary md-raised demo-menu-open-button">
                Volver a Pagina Principal
            </md-button>
        </div>

    </md-card-content>
    <md-card-footer>
        Card footer
    </md-card-footer>
</md-card>